{% extends 'base.html.twig' %}
{% form_theme form 'form_table_layout.html.twig' %}
{% block body %}
    <h1>Edit Post</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Update Post</button>
    <a href="/blog/post/{{ form.vars.value.id }}/delete">
        <button type="button">Delete Post</button>
    </a>
    {{ form_end(form) }}
{% endblock %}