{% extends 'base.html.twig' %}
{% form_theme form 'form_table_layout.html.twig' %}
{% block body %}
    <h1>Create a New Post</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Create Post</button>
    {{ form_end(form) }}
{% endblock %}